html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  overflow: hidden;
  color: var(--text-color);
}

/* * {
  scrollbar-base-color: #eee;
  scrollbar-3dlight-color: #eee;
  scrollbar-highlight-color: #eee;
  scrollbar-track-color: #f1f1f1;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #eee;
  box-sizing: border-box;
} */

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: var(--text-color);
  font-weight: 500;
}
li {
  list-style-type: none;
}
